<div class = "log-in-countainer">
  <h2>Sign up</h2>  

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>  

    <div class="field">
      <%= f.label :name, id: "label" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "name", id: "input" %>
    </div> 
    
    <div class="field">
      <%= f.label :email, id: "label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", id: "input" %>
    </div>  

    <div class="field">
      <%= f.label :password, id: "label" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "password (minimum 6 characters)", id: "input" %>
    </div>  

    <div class="field">
      <%= f.label :password_confirmation, id: "label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm password", id: "input" %>
    </div>  

    <div class="actions">
      <%= f.submit "Sign up", id: "input" %>
    </div>
  <% end %> 

  <%= render "devise/shared/links" %>
</div>
